// COLORS
$color_1: #fff;
$color_2: #000;
$color_3: #746868;
$color_4: #f8f6f6;
$color_5: #353535;
$color_6: #d6c9c9;
$color_7: #4d4140;
$color_8: #e64e40;
$color_9: #c4b8b8;
$color_10: #e9dddd;
$color_11: #7a6e6e;
$color_12: #e7e7e7;
$color_13: #5c5252;
$color_14: #b51809;
$color_15: #e8c6c4;
$color_16: #171f23;
$color_17: #e84c3d;
$color_18: #1c1c1c;
$color_19: #3d3d3d;
$color_20: #171f23;
$color_21: #f3e7e6;
$color_22: #e0d5d4;
$color_23: #696969;
$color_24: #827272;
$color_25: #5e5251;
$color_26: #b0a4a4;
$color_27: #2a2629;
$color_28: #171f23;
$color_29: #fbefee;
$color_30: #2a2629;
$color_31: #0c1215;
$color_32: #211a1c;
$color_33: #fbefee;
$color_34: #221b1d;
$color_35: #322e31;
$color_36: #fbefee;
$color_37: #4d4140;
$color_38: #746868;
$color_39: #f3724d;

// FONTS
$font_1: 'Times New Roman', Times, serif;
$font_2: 'BigNoodleTitling', 'Sans Serif';
$font_3: 'Roboto Slab';


// ICONS


// IMAGES


// SCREEN
$media-type_1: screen;

// Small devices (landscape phones, 576px and up)
$screen-sm: 576px;
// Medium devices (tablets, 768px and up)
$screen-md: 768px;
// Large devices (desktops, 992px and up)
$screen-lg: 992px;
// Extra large devices (large desktops, 1200px and up)
$screen-xl: 1200px;