@import 'sass/base/_normalize.scss';
@import 'sass/helpers/_mixins.scss';
@import 'sass/helpers/_variables.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body {
    @include width-height(100%);
    font-size: 16px;
}
.wrapper {
    @include width-height(100%);
    @include display-flex(column, nowrap, center, center);
    @media #{$media-type_1} and (max-width: $screen-lg) {
        .header__container {
            @include width-height(100%);
            padding: 0 1em;
        }
    }
}
// HEADER
.header {
    @include width-height(100%);
    @include display-flex(row, nowrap, center, center);
    background-color: $color_4;
    &__container {
        @include width-height(90%);
        @include display-flex(row, nowrap, space-between, center);
    }    
    &__logo-container {
        @include display-flex(row, nowrap, left, center);
        @include width-height(70%, 5em);
    }
    &__logo-img {
        margin-right: 1em;
    }
    &__logo-text {
        font: normal 2.5em $font_2;
        color: $color_3;
        margin: 0;
        display: inline;
    }
    &__nav {
        @include display-flex(row, nowrap, right, center);
    }
    &__nav:hover {
        cursor: pointer;
    }
}
// CREATIVE
.creative {
    @include width-height(100%);
    @include display-flex(row, nowrap, center, center);
    background-color: $color_5;
    font-size: 6.5px;
    &__container {
        @include width-height(90%);
        @include display-flex(column, nowrap, center, center);
    }
    &__title {
        font: 600 4.5em $font_2;
        color: $color_6;
        margin-bottom: 0;
    }
    &__subtitle {
        font: normal 2.25em $font_2;
        color: $color_6;
        margin-top: 0;
    }
    &__img {
        margin-top: 4em;
    }
    &__img:hover {
        cursor: pointer;
    }
    &__scroll-down {
        font: normal 2em $font_2;
        color: $color_6;
        margin-top: 0;
    }
    @media #{$media-type_1} and (min-width: $screen-md) {
        font-size: 16px;
    }
}
// ABOUT
.about {
    @include width-height(100%);
    @include display-flex(row, nowrap, center, center);    
    background-color: $color_1;
    font-size: 6.5px;
    &__container {
        @include width-height(90%);
        @include display-flex(column, nowrap, center, center);
        padding-bottom: 10em;
    }
    &__title {
        font: normal 7em $font_2;
        color: $color_7;
        margin-bottom: 0em;
    }
    &__title:after {
        content: ""; 
        display: block;
        margin: 0 auto;
        width: 80%;
        padding-top: 0.1em;
        border-bottom: 0.05em solid $color_8;
    }
    &__subtitle {
        @include width-height(80%);
        text-align: center;;
        font: normal 3em $font_1;
        color: $color_9;
    }
    &__info-container {
        @include width-height(100%);
        @include display-flex(row, nowrap, center, center);
        margin-top: 2em;
    }
    &__info {
        @include width-height(25%, auto);
        background-color: $color_10;
        text-align: center;
        margin: 2.5em;
    }
    &__info-img {        
        margin-top: 5em;
    }
    &__img_padding_15px {
        // padding: 15px;
        padding: 2.307em;
    }
    &__info-title {
        font: bold 17px $font_1;
        color: $color_11;
    }
    &__info-subtitle {
        @include width-height(80%);
        margin: 0 auto;
        padding: 0 0 2em 0;
        font: normal 2.3em $font_1;
        color: $color_11;
    }
    @media #{$media-type_1} and (max-width: $screen-md) {
        &__info-container {
        @include display-flex(column, nowrap, center, center);
        }
        &__info {
            @include width-height(80%, auto);
        }
        &__container {
            padding-bottom: 3em;
        }
    }
}
// VIDEO 
.video {
    @include width-height(100%, auto);
    @include display-flex(column, nowrap, center, center);    
    &__left {
        @include width-height(100%);
        @include display-flex(column, nowrap, center, center);
        background-color: $color_16;
    }
    &__left-container {
        @include width-height(90%);
        @include display-flex(column, nowrap, center, center);    
    }
    &__right {
        @include width-height(100%, 12.5em);
        @include display-flex(column, nowrap, center, center);
        background: {
            image: url(../assets/img/bg-video.png);
            position: center center;
            size: cover;            
        }
    }
    &__left-title {
        font: normal 1em $font_1;
        color: $color_12;
    }
    &__left-text {
        font: normal 0.8em $font_3;
        color: $color_13;
    }
    &__button {
        padding: 0.5em 0.9em;
        margin: 1em 0;
        background-color: $color_8;
        color: $color_15;
        border: none;
        border-bottom: solid 0.1em $color_14;
    }
    @media #{$media-type_1} and (min-width: $screen-sm) { 
        @include width-height(100%, 27em);
        @include display-flex(row, nowrap, center, center);    
        &__left {
            @include width-height(50%, 27em);
            @include display-flex(column, nowrap, center, center);
            background-color: $color_16;
        }
        &__left-container {
            @include width-height(90%);
            @include display-flex(column, nowrap, center, center);    
        }
        &__right {
            @include width-height(50%, 27em);
            @include display-flex(column, nowrap, center, center);
            background: {
                image: url(../assets/img/bg-video.png);
                position: center center;
                size: cover;            
            }
        }
        &__video:hover {
            cursor: pointer;
        }
    }
    @media #{$media-type_1} and (min-width: $screen-lg) {
        &__left-container {
            @include width-height(50%);
            @include display-flex(column, nowrap, center, center);    
        }
    }
}
// WORKS
.works {
    @include width-height(100%);
    @include display-flex(column, nowrap, center, center);    
    background-color: $color_1;
    &__container {
        @include width-height(90%);
        @include display-flex(column, nowrap, center, center);
        padding-bottom: 2em;
    }
    &__header {
        @include width-height(70%);
        @include display-flex(column, nowrap, center, center);
    }
    &__title {
        font: normal 3em $font_2;
        color: $color_2;
    }
    &__title:after {
        content: ""; 
        display: block;
        margin: 0 auto;
        width: 80%;
        padding-top: 20px;
        border-bottom: 1px solid $color_8;
    }
    &__subtitle {
        font: 300 0.9em $font_3;
        color: $color_3;
    }
    &__nav {
        @include width-height(100%);
        @include display-flex(column, nowrap, center, center);
        margin-top: 2em; 
    }
    &__link {
        @include width-height(100%);
        text-align: center;
        text-decoration: none;
        font: 300 0.9em $font_3;
        color: $color_3;
        padding: 0.5em 0;        
    }
    &__link:hover:after {
        content: ""; 
        display: block;
        margin: 0 auto;
        width: 50%;
        padding-top: 0.1em;
        border-bottom: 0.1px solid $color_8;
    }
    &__link:hover {
        cursor: pointer;
        font-weight: 800;
        color: $color_2;
    }
    &__portfolio {
        @include width-height(100%, 10em);
        background-color: $color_17;
    }
    @media #{$media-type_1} and (min-width: $screen-md) {
        &__container {
            @include display-flex(column, nowrap, center, center);
            padding-bottom: 2em;
        }
        &__header {
            @include width-height(70%);
            @include display-flex(column, nowrap, center, center);
            text-align: center;
        }
        &__title {
            margin-bottom: 0.5em;
        }
        &__nav {
            @include width-height(90%);
            @include display-flex(row, nowrap, center, center);
            margin: 2em 0 1.7em; 
        }
    }
}
// CLIENTS
.clients {
    @include width-height(100%, 15em);
    @include display-flex(row, nowrap, center, center);    
    background-color: $color_18;
    &__container {
        @include width-height(100%);
        @include display-flex(row, nowrap, center, center);
    }
    &__column {
        @include display-flex(row, nowrap, center, center);
    }
    &__arrow {
        @include width-height(12.5%);
    }
    &__client {
        @include width-height(25%);
    }
    &__arrow-img {
        @include width-height(1em, 1.6em);
    }
    &__arrow:hover {
        cursor: pointer;
    }
    &__client-img {
        transform: rotate(90deg);
    }
    @media #{$media-type_1} and (min-width: $screen-md) {
        &__container {
            @include width-height(90%);
            @include display-flex(row, nowrap, center, center);
        }
        &__client-img {
            @include width-height(80%, auto);
            transform: rotate(180deg);
            transform: scale(1)
        }
    }
}
.team {
    @include width-height(100%,auto);// 50.75em);
    @include display-flex(row, nowrap, center, center);    
    background-color: $color_1;
    &__container {
        @include width-height(90%);
        @include display-flex(column, nowrap, center, center);
        padding-bottom: 3em;
    }
    &__header {
        @include width-height(70%, 60%);
        text-align: center;
    }
    &__title {
        font: normal 3em $font_2;
        color: $color_2;
    }
    &__title:after {
        content: ""; 
        display: block;
        margin: 0 auto;
        width: 50%;
        padding-top: 0.1em;
        border-bottom: 0.1px solid $color_8;
    }
    &__subtitle {
        font: 300 0.85em $font_3;
        color: $color_2;
    }
    &__member-container {
        @include width-height(100%);
        @include display-flex(column, nowrap, center, center);        
    }
    &__member-bio {
        @include width-height(100%);
        @include display-flex(column, nowrap, center, center);
        background-color: $color_10;
    }
    &__member-skills {
        @include width-height(100%);
        @include display-flex(row, nowrap, center, center);
        background-color: $color_10;
    }
    &__social-link {
        text-decoration: none;
    }
    &__social-link:hover {
        cursor: pointer;
    }
    &__member-img {
        @include width-height(8.5em, 8.5em);
        background-color: $color_8;
        border-radius: 50%;
        margin: 0.5em;
    }
    &__member-name {
        font: bold 1.3em $font_3;
        color: $color_7;
        margin-bottom: 0;
    }
    &__member-position {
        font: 400 0.8em $font_3;
        color: $color_7;
        margin-top: 0;
    }
    &__social-container {

    }
    &__social-icon {
        margin: 0 0.4em;
    }
    &__indicator-container {
        margin: 1em 0;
    }
    &__indicator {
        margin: 0 0.4em;
        appearance: none;
    }
    &__skills-container {
        @include width-height(90%);
        @include display-flex(column, nowrap, center, center);
    }
    &__skills-title {
        font: bold 1.3em $font_3;
        color: $color_19;
    }
    &__skills-subtitle {
        text-align: center;
        font: thin 0.8em $font_3;
        color: $color_19;
    }
    &__graph-container {
        @include width-height(100%);
        @include display-flex(column, nowrap, center, center);
    }
    &__graph {
        @include width-height(100%);
        @include display-flex(row, nowrap, center, center);
    }
    &__graph-name {
        @include width-height(50%);
        font: bold 0.8em $font_3;
        color: $color_7;
    }
    &__graph-line {
        @include width-height(60%);
        border: none;
        border-bottom: $color_1;
        border-bottom-style: solid;
        border-bottom-width: 0.1em;
    }
    &__graph-line-1:after {
        content: ""; 
        display: block;
        position: relative;
        bottom: -0.2em;
        width: 83%;
        border-bottom: 0.2em solid $color_14;
    }
    &__graph-line-2:after {
        content: ""; 
        display: block;
        position: relative;
        bottom: -0.2em;
        width: 92%;
        border-bottom: 0.2em solid $color_14;
    }
    &__graph-line-3:after {
        content: ""; 
        display: block;
        position: relative;
        bottom: -0.2em;
        width: 90%;
        border-bottom: 0.2em solid $color_14;
    }
    &__graph-line-4:after {
        content: ""; 
        display: block;
        position: relative;
        bottom: -0.2em;
        width: 98%;
        border-bottom: 0.2em solid $color_14;
    }
    &__graph-proz {
        @include width-height(10%);
        color: $color_7;
        margin-left: 1em;
    }
    @media #{$media-type_1} and (min-width: $screen-sm) {
        &__graph-name {
            @include width-height(30%);
        }
    }
    @media #{$media-type_1} and (min-width: $screen-lg){
        &__container {
            @include width-height(100%);
            @include display-flex(column, nowrap, center, center);
            padding-bottom: 6em;
        }
        &__subtitle {
            margin-bottom: 3em;
        }
        &__member-bio {
            height: 21.2em;
            width: 50%;
    margin-right: 1.5em;
        }
        &__memeber-skills {
            height: 22.5em;
        }
        &__member-container {
            @include width-height(90%);
            @include display-flex(row, nowrap, center, center);
        }
    }
}
// FEATURES
.features {
    @include width-height(100%,auto);
    @include display-flex(column, nowrap, center, center);    
    background-color: $color_20;
    &__container {
        @include width-height(100%);
        @include display-flex(column, nowrap, center, center);
        padding-bottom: 3em;
    }
    &__header {
        @include width-height(100%);
        @include display-flex(column, nowrap, center, center);
    }
    &__title {
        font: 700 2.26em $font_3;
        text-align: center;
        color: $color_21;
    }
    &__details {
        @include width-height(96%,auto);
        @include display-flex(column, nowrap, center, center);
    }
    &__detail {
        @include width-height(90%,auto);
        @include display-flex(column, nowrap, center, center);
        padding: 1em;
        text-align: center;
    }
    &__img-container {
        @include width-height(100%,auto);
        @include display-flex(row, nowrap, center, center);
    }
    &__detail-title {
        font: 600 1.2em $font_3;
        color: $color_22;
        margin-bottom: 0;
    }
    &__detail-subtitle {
        font: 600 3em $font_3;
        color: $color_21;
        margin: 0;
    }
    @media #{$media-type_1} and (min-width: $screen-sm) {
        &__details {
            @include width-height(90%,auto);
            @include display-flex(row, wrap, space-between, center);
        }
        &__detail {
            @include width-height(15%,auto);
        }
        &__interval_bigger {
            margin-bottom: 2em;
        }
    }
    @media #{$media-type_1} and (min-width: $screen-sm) and (max-width: $screen-md) {
        &__details {
            @include width-height(80%,auto);
        }
        &__detail {
            @include width-height(18%,auto);
        }
    }
    @media #{$media-type_1} and (min-width: $screen-md)  {
        &__details {
            @include display-flex(row, wrap, center, center);
        }
        &__detail {
            @include width-height(20%,auto);
        }
        &__interval_bigger {
            margin-bottom: 0em;
        }
    }
}
// BLOG
.blog {
    @include width-height(100%,auto);
    @include display-flex(row, nowrap, center, center);    
    background-color: $color_1;
    &__container {
        @include width-height(90%);
        @include display-flex(column, nowrap, center, center);
        padding-bottom: 3em;
    }
    &__header {
        @include width-height(90%);
        @include display-flex(column, nowrap, center, center);
        text-align: center;
    }
    &__title {
        font: normal 3em $font_2;
        color: $color_19;
        margin-bottom: 0;
    }
    &__subtitle {
        font: normal 0.8em $font_3;
        color: $color_23;
    }
    &__body {
        @include width-height(100%);
        @include display-flex(column, nowrap, center, center);        
    }
    &__post {
        @include width-height(inherit, 26.625em);
        @include display-flex(column, nowrap, center, center);
        background-color: $color_10;
        margin-bottom: 1em;    
    }
    &__img-container {
        @include width-height(100%, 50%);
        background-color: $color_19;
    }
    &__post-container {
        @include width-height(80%, 50%);
        @include display-flex(column, nowrap, start, center);
             
    }
    &__post-title {
        font: 600 1.2em $font_3;
        color: $color_25;
    }
    &__post-subtitle {
        font: 400 0.8em $font_3;
        color: $color_26;
    }
    &__post-lower {
        @include width-height(100%);
        @include display-flex(row, nowrap, center, center);
    }
    &__lower-left {
        @include width-height(50%, auto);
        @include display-flex(row, nowrap, flex-start, center);
    }
    &__lower-right {
        @include width-height(50%, auto);
        @include display-flex(row, nowrap, flex-end, center);
    }
    &__date, &__likes, &__comments {
        font: 300 0.6em $font_3;
        color: $color_26;
        margin: 0 0.5em;
    }
    @media #{$media-type_1} and (min-width: $screen-sm) {
        font-size: 14px;
        &__container {
            @include width-height(100%);
        }
        &__body {
            @include width-height(100%);
            @include display-flex(row, nowrap, space-around, center);
            
        }
        &__post-container {
            @include width-height(70%, auto);
            text-align: center;
        }
        &__post {
            @include width-height(32%, 30em);
        }
        &__post-lower {
            @include width-height(none, auto);
            margin: 1em 0 2em;
        }
    }
    @media #{$media-type_1} and (min-width: $screen-sm) and (min-width: $screen-md) {
        font-size: 14px;
        &__post-container {
            @include width-height(90%, auto);
        }
    }
    @media #{$media-type_1} and (min-width: $screen-lg) {
        font-size: 16px;
        &__header {
            @include width-height(50%);
        }
        &__body {
            @include display-flex(row, wrap, center, center); 
        }
        &__post-container {
            @include width-height(80%, auto);
        }
        &__post {
            @include width-height(25%, 25.3em);
            margin: 0 1em;
        }
        &__post-title, &__post-subtitle {
            text-align: left;
        }
    }
}
// PLANS
.plans {
    @include width-height(100%,auto);
    @include display-flex(row, nowrap, center, center);     
    background-color: $color_31;
    &__container {
        @include width-height(100%);
        @include display-flex(column, nowrap, center, center);
        background-color: $color_30;            
    }
    &__title {
        font: 800 2.25em $font_3;
        color: $color_21;
    }
    &__title:after {
        content: ""; 
        display: block;
        margin: 0 auto;
        width: 50%;
        padding-top: 0.5em;
        border-bottom: 0.05em solid $color_19;
    }
    &__plans-container {
        @include width-height(14em);
        @include display-flex(row, wrap, center, center);
        padding-bottom: 4em;
    }
    &__plan {
        @include width-height(100%);
        @include display-flex(column, nowrap, center, center);
        margin-bottom: 1em;
    }
    &__plan:hover {
        border: solid 0.1em $color_17;
    }
    &__plan:hover &__lower-quantity {
        color: $color_17;
    }
    &__upper, &__lower {
        @include width-height();
        @include display-flex(column, nowrap, center, center);
    }
    &__upper {
        @include width-height(inherit, 8em);
        @include display-flex(column, nowrap, center, center);
        background-color: $color_34;
    }
    &__upper-title {
        font: bold 0.8em $font_3;
        color: $color_29;
        text-align: center;
        margin: 0;
    }
    &__upper-price {
        font: 400 2.3em $font_3;
        color: $color_29;
        margin: 0;
    }
    &__currency {
        font-size: 0.5em;
        color: $color_29;
    }
    &__currency_display_none {
        display: none;
    }
    &__lower {
        @include width-height(inherit, 20.125em);
        @include display-flex(column, nowrap, center, center);
        background-color: $color_35;
    }
    &__lower-info {
        font: normal 0.8em $font_3;
        color: $color_29;
    }
    &__lower-quantity {
        font: bolder 0.9em $font_3;
        color: $color_29;
    }
    &__button {
        font: bold 0.8 $font_3;
        color: $color_29;
        background-color: $color_17;
        border: none;
        border-radius: 0.2em;
        padding: 0.8em 1.3em;
        margin-top: 2.5em;
    }
    &__button {
        cursor: pointer;
    }
    @media #{$media-type_1} and (min-width: $screen-sm) {
        &__plan {
            @include width-height(40%);
            margin: 1em;   
        }
        &__plans-container {
            @include width-height(100%);
            @include display-flex(row, wrap, center, center);
        }
        &__upper {
            @include width-height(100%, 10em);
        }
        &__lower {
            @include width-height(100%, 20em);
        }
    }
    @media #{$media-type_1} and (min-width: $screen-lg) {
        &__plan {
            @include width-height(20%);
        }
    }
    @media #{$media-type_1} and (min-width: $screen-xl) {
        &__plan {
            @include width-height(15%);
        }
    }
}
// GET-IN-TOUCH
.touch {
    @include width-height(100%,auto);
    @include display-flex(row, nowrap, center, center);     
    background-color: $color_1;
    &__container {
        @include width-height(100%);
        @include display-flex(column, nowrap, center, center);
        background-color: $color_36;
        padding-bottom: 2em;        
    }
    &__header {
        @include width-height(90%);
        @include display-flex(column, nowrap, center, center);
        text-align: center;
    }
    &__title {
        font: normal 3em $font_2;
        color: $color_37;
        margin-bottom: 0;
    }
    &__title:after {
        content: ""; 
        display: block;
        margin: 0 auto;
        width: 50%;
        padding-top: 0.3em;
        border-bottom: 0.05em solid $color_17;
    }
    &__subtitle {
        font: thin 0.8em $font_3;
        color: $color_38;
        padding-bottom: 2em;
    }
    &__form {
        @include width-height(70%);
        @include display-flex(column, nowrap, center, center);
    }
    &__form-upper {
        @include width-height(90%);
        @include display-flex(column, nowrap, center, center);        
    }
    &__form-text {
        @include width-height(100%);
        font: bold 0.8em $font_3;
        color: $color_38;
        padding: 0.5em 1.25em;
        margin-bottom: 1em;
        background-color: $color_36;
        border: none;
        border-bottom: solid 0.1em $color_9;
    }
    &__form-message {
        @include width-height(90%);
        
    }
    &__form-submit {
        color: $color_36;
        background-color: $color_39;
        border: none;
        padding: 0.5em 1.25em;
        margin-top: 0.5em;
    }
    @media #{$media-type_1} and (min-width: $screen-sm) and (max-width: $screen-md) {
        &__header {
            @include width-height(60%);
        }
    }
    @media #{$media-type_1} and (min-width: $screen-md) {
        &__header {
            @include width-height(50%);
        }
        &__form-upper {
            @include width-height(100%);
            @include display-flex(row, nowrap, center, center);        
        }
        &__form-text {
            @include width-height(41%);
            margin-right: 8%;
            padding-top: 1em;
            padding-bottom: 3em;
        }
        &__form-message {
            @include width-height(90%);
        }
        &__form-submit {
            padding: 1.3em 2.5em;
            margin: 3em;
        }
    }
}
// MAP 
.map {
    @include width-height(100%,auto);
    @include display-flex(row, nowrap, center, center);     
    background-color: $color_31;
    &__container {
        @include width-height(100%);
        @include display-flex(row, nowrap, center, center);
        background-color: $color_32;            
    }
    &__title {
        font: 800 1.5em $font_3;
        color: $color_33;
        margin: 1em;
    }
    &__button {
        border: none;
        background-color: $color_32;
    }
    &__button:hover {
        cursor: pointer;
    }
    @media #{$media-type_1} and (min-width: $screen-lg) {
        &__container {
            @include width-height(80%);          
        }
    }
}
// FOOTER
.footer {
    @include width-height(100%,auto);
    @include display-flex(row, nowrap, center, center);     
    background-color: $color_28;
    &__container {
        @include width-height(100%);
        @include display-flex(column, nowrap, center, center);
        background-color: $color_30;            
    }
    &__logo-container {
        margin-top: 3em;
        text-align: center;
    }
    &__title {
        font: normal 1.5em $font_2;
        color: $color_29;
        text-align: center;
        margin: 0;     
    }
    &__subtitle {
        font: 700 0.8em $font_3;
        color: $color_29;
        text-align: center;
        margin: 0; 
    }
    &__social-container {
        @include display-flex(row, nowrap, center, center);
        margin-bottom: 2em;  
    }
    &__social-img {
        margin: 0.5em;
    }
    @media #{$media-type_1} and (min-width: $screen-lg) {
        &__container {
            @include width-height(80%);          
        }
    }
}